@font-face {
  font-family: "broken";
  src: url("/BrokenPersonalUseBold-K73oo.ttf") format("truetype");
  font-weight: bold;
}
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 24px;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    #018DC5 0%,
    #02518B 49%,
    #002476 90%,
    #01031E 100%
  );
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(43, 41, 101, 0.3);
  z-index: -1;
  pointer-events: none;
}

.pill-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Syne", sans-serif;
  gap: 4rem;
  padding: 0.75rem 4rem;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pill-nav a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  transition: color 0.3s ease;
}

.pill-nav a:hover {
  color: #4e98ff;
}

.projects {
  padding: 4rem 2rem;
  text-align: center;
  background: transparent;
  color: white;
  font-family: "Syne", sans-serif;
}

.projects h2 {
  font-family: "Syne", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0em;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-items: center;
  animation-name: fadeInFromBelow; /* The name defined above */
  animation-duration: 0.5s; /* How long the animation takes to complete */
  animation-timing-function: ease-out; /* The speed curve of the animation */
  animation-fill-mode: forwards; /* Ensures the element remains visible and in its final position after the animation ends */
}

.projects-grid img {
  width: 100%;
  border-radius: 20%;
  height: auto;
  object-fit: cover;
}

.grain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background: url('/photocards/grain.gif');
  opacity: 0.07;
  filter: blur(1px);
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 9999;
}

@keyframes fadeInFromBelow {
  from {
    opacity: 0; 
    transform: translateY(20px); 
  }
  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}
